# Referencia: Spring Boot no carga .env automaticamente.
# Configura estas variables en PowerShell o en el IDE.
MONGODB_URI=mongodb+srv://USUARIO:PASSWORD_URL_ENCODED@CLUSTER.mongodb.net/?retryWrites=true&w=majority&appName=prueba-tecnica
MONGODB_DATABASE=prueba_tecnica
EXTERNAL_API_BASE_URL=https://api.tvmaze.com
SERVER_PORT=8080
